<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="org.zerock.board.mapper.BoardMapper">

	<sql id="search">
	
		<if test="arr != null">
		<foreach collection="arr" item="type" separator="OR" open="AND (" close=")">
		
			<if test='type.equals("T")'>
			title LIKE  CONCAT( '%', #{keyword}, '%')
			</if>
			
			<if test='type.equals("C")'>
			content LIKE  CONCAT( '%', #{keyword}, '%')
			</if>
		
			<if test='type.equals("W")'>
			writer LIKE  CONCAT( '%', #{keyword}, '%')
			</if>
		
		</foreach>
		</if>
	
	</sql>

	
	<select id="getTime" resultType="string">
	SELECT NOW()
	</select>
	
	<select id="list" resultType="BoardDTO">
	SELECT * FROM tbl_board WHERE bno > 0

	<include refid="search"/>
	
	ORDER BY BNO DESC
	
	LIMIT #{limit} OFFSET #{offset}
	
	</select>


	<select id="listCount" resultType="int">
	SELECT count(*) FROM tbl_board WHERE bno > 0 	
	<include refid="search"/>
	
	</select>


    <insert id="insert" useGeneratedKeys="true" keyProperty="bno">
        insert into tbl_board (title, content, writer)
        VALUES (#{title}, #{content}, #{writer})
    </insert>
    
    <select id="selectOne" resultType="BoardDTO">
        select * from tbl_board where bno = #{bno}
    </select>
    
    <update id="updateReplyCnt">
    	update tbl_board set replycnt = replycnt + #{amount} where bno = #{bno}
    </update>

</mapper>        



















